<div class="initialize footer" id="about">
    <div class="maxwidth">
        <div class="container">
            <div>
                <img class="footer-logo-mobile" src="./assets/img/1_hero/PNG/sakura_logo.png">
                <img class="footer-logo" src="./assets/img/5_section_footer/PNG/sakura_ramen_logo_and_text.png">
            </div>
            <div>
                <a href="imprint">Imprint</a>
                <a href="https://www.tripadvisor.de/Restaurant_Review-g187309-d7355628-Reviews-Sushi_Sakura-Munich_Upper_Bavaria_Bavaria.html"
                    target="_blank"><img class="footer-icons"
                        src="./assets/img/5_section_footer/PNG/tripadvisor_logo.png"></a>
                <a href="https://www.facebook.com/profile.php?id=155740817782458&paipv=0&eav=Afawb4lME-JfAUUej0fGrd6Ny19mynYnOaEZ8ZNg6yXGbTMq8lAqcKElSsPkmfKJuGY&_rdr"
                    target="_blank"><img class="footer-icons"
                        src="./assets/img/5_section_footer/PNG/facebook_logo.png"></a>
                <a href="https://www.instagram.com/sakuraramen/?hl=de" target="_blank"><img class="footer-icons"
                        src="./assets/img/5_section_footer/PNG/instagrram_logo.png"></a>
            </div>
        </div>
    </div>
</div>