<div class="menu-bgr">
    <span class="topics space64 fontRaleway" id="menu">OUR MENU</span>
    <div class="direction">
        <div class="ramen-left space56">
            <img class="plates-img" src="assets/img/3_section_our_menu/Png/R1.png">
            <table>
                <tr>
                    <td class="plate-title economica">
                        Tonkatsu Ramen
                    </td>
                </tr>
                <tr>
                    <td class="plate-choices fontRaleway">
                        CHICKEN
                    </td>
                    <td class="plate-choices fontRaleway ta-right">
                        11.95€
                    </td>
                </tr>
                <tr>
                    <td class="plate-choices fontRaleway">
                        BEEF
                    </td>
                    <td class="plate-choices fontRaleway ta-right">
                        12.95€
                    </td>
                </tr>
                <tr>
                    <td class="plate-choices fontRaleway">
                        SHRIMP
                    </td>
                    <td class="plate-choices fontRaleway ta-right">
                        13.95€
                    </td>
                </tr>
            </table>
        </div>
        <div class="ramen-right space56">
            <img class="plates-img-rev" src="./assets/img/3_section_our_menu/Png/R2.png">
            <table>
                <tr>
                    <td class="plate-title economica">
                        Spicy Miso Ramen
                    </td>
                </tr>
                <tr>
                    <td class="plate-choices fontRaleway">
                        CHICKEN
                    </td>
                    <td class="plate-choices ta-right fontRaleway">
                        11.95€
                    </td>
                </tr>
                <tr>
                    <td class="plate-choices fontRaleway">
                        BEEF
                    </td>
                    <td class="plate-choices ta-right fontRaleway">
                        12.95€
                    </td>
                </tr>
                <tr>
                    <td class="plate-choices fontRaleway">
                        SHRIMP
                    </td>
                    <td class="plate-choices ta-right fontRaleway">
                        13.95€
                    </td>
                </tr>
            </table>
        </div>
        <div class="ramen-left">
            <img class="plates-img" src="assets/img/3_section_our_menu/Png/R3.png">
            <table>
                <tr>
                    <td class="plate-title economica">
                        Shio Ramen
                    </td>
                </tr>
                <tr>
                    <td class="plate-choices fontRaleway">
                        CHICKEN
                    </td>
                    <td class="plate-choices ta-right fontRaleway">
                        11.95€
                    </td>
                </tr>
                <tr>
                    <td class="plate-choices fontRaleway">
                        BEEF
                    </td>
                    <td class="plate-choices ta-right fontRaleway">
                        12.95€
                    </td>
                </tr>
                <tr>
                    <td class="plate-choices fontRaleway">
                        SHRIMP
                    </td>
                    <td class="plate-choices ta-right fontRaleway">
                        13.95€
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>