<div class="w100">
    <div class="maxwidth">
        <span class="topics space64 fontRaleway">HOW TO ORDER</span>
        <div class="direction">
            <div class="orderpick">
                <div class="orderchoice">
                    <img src="./../assets/img/2_section_how_to_order/PNG/noodle.png">
                    <span class="economica">Pick your<br>noodle</span>
                </div>
                <div class="orderchoice">
                    <img src="./assets/img/2_section_how_to_order/PNG/broth.png">
                    <span class="economica">Pick your<br>broth</span>
                </div>
                <div class="orderchoice">
                    <img src="./assets/img/2_section_how_to_order/PNG/egg.png">
                    <span class="economica">Pick your<br>toppings</span>
                </div>
            </div>
        </div>
    </div>
</div>